include AUTHORS.md
include LICENSE
include README.md

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.md conf.py make.bat *.jpg *.png *.gif
include versioneer.py
include jump/_version.py
